* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}
.box {
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;

    animation-name: moving;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moving {
    0% {
        left: 0;
        top: 0;
        background-color: red;
    }
    25% {
        left: 0;
        top: 300px;
        background-color: blue;
    }
    50% {
        left: 300px;
        top: 300px;
        background-color: green;
    }
    75% {
        left: 300px;
        top: 0;
        background-color: yellow;
    }
    100% {
        left: 0;
        top: 0;
        background-color: red;
    }
}